In [1]:
import pandas as pd
import numpy as np

In [3]:
decision_tree_df = pd.read_csv("../data/decision_tree_label.txt")
ensemble_df = pd.read_csv("../data/esemble_label.txt")
knn_df = pd.read_csv("../data/KNN_label.txt")
nn_df = pd.read_csv("../data/NN_label.txt")

In [7]:
res_df = 0.8613731081377495 * decision_tree_df + 0.8725597718797982 * ensemble_df + 0.8355127608274948 * knn_df + 0.8530379469181838 * nn_df

In [8]:
res_df.describe()

                 0
count  9768.000000
mean      0.697950
std       1.235388
min       0.000000
25%       0.000000
50%       0.000000
75%       0.853038
max       3.422484

In [9]:
ttl = decision_tree_df + ensemble_df + knn_df + nn_df
ttl.describe()

                 0
count  9768.000000
mean      0.815827
std       1.443509
min       0.000000
25%       0.000000
50%       0.000000
75%       1.000000
max       4.000000

In [11]:
value_counts = ttl['0'].value_counts()
print(value_counts)

0
0    6996
4    1230
1     590
3     555
2     397
Name: count, dtype: int64

In [13]:
# 定义函数进行赋值
def assign_value(x):
    if x > 1:
        return 1
    else:
        return 0

# 应用函数到DataFrame中的每个元素
new_df = ttl.applymap(assign_value)

# 打印结果
print(new_df)

      0
0     1
1     0
2     1
3     0
4     0
...  ..
9763  0
9764  0
9765  1
9766  0
9767  0

[9768 rows x 1 columns]

In [33]:
y_pred = new_df.values.flatten()
# 指定要写入的文件路径和文件名
output_file = "../data/testlabel.txt"

# 打开文件并写入预测结果
with open(output_file, "w") as file:
    for prediction in y_pred:
        file.write(str(prediction) + "\n")

print("预测结果已写入文件:", output_file)

预测结果已写入文件: ../data/testlabel.txt